@import "fontawesome";

@import "compass/css3/transform";
@import "compass/css3/opacity";
@import "compass/css3/transition";

body {
  background-image: url(/images/purty_wood.png);
  margin: 0;
  overflow: hidden;
}

#header {
  font-family: 'Finger Paint', cursive;
  @include opacity(.65);
  font-size: 1.6em;
  position: fixed;
  top: 16px;
  left: 12px;
}

.image {
  position: absolute;
  cursor: pointer;
  height: 360px;
  background-image: url(/images/handmadepaper.png);
  border: 1px solid #ddd;
  border-radius: 2px;
  box-shadow: 3px 3px rgba(0,0,0,.2);

  img {
    width: 275px;
    height: 275px;
    padding: 15px 15px 0px 15px;
  }

  .username {
    position: relative;
    text-align: right;
    padding-top: 20px;
    padding-right: 18px;
    font-family: 'Finger Paint', cursive;
    font-size: 1.05em;
    color: #555;
    @include opacity(0);
  }

  &:hover .username {
    @include transition-property(opacity);
    @include transition-duration(.3s);
    @include opacity(1);
  }
}

#welcome {
  width: 400px;
  padding: 18px 18px 70px 18px;
  background-image: url(/images/handmadepaper.png);
  border: 1px solid #ddd;
  border-radius: 2px;
  box-shadow: 3px 3px rgba(0,0,0,.2);
  margin: 40px auto 0;
  @include rotate(-3deg);

  .inset {
    height: 345px;
    background-color: #e4e4dd;
    border: 1px #e2e2e2 solid;
    padding: 12px;
    line-height: 30px;
    font-family: 'Donegal One', serif;
    font-size: 1.4em;
  }
}

#actions {
  font-family: 'Finger Paint', cursive;
  @include opacity(.65);
  font-size: 1.8em;
  position: fixed;
  top: 8px;
  right: 12px;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: inline;
      color: #fff;
      text-decoration: none;

      &:hover {
        color: #4B4948;
        @include transition-property(color);
        @include transition-duration(.1s);
        cursor: pointer;
      }
    }
  }
}

#about {
  width: 450px;
  padding: 30px;
  background: url(/images/gplaypattern.png);
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 50px auto 0;
  font-family: 'Lato', sans-serif;
  position: relative;
  z-index: 1000;

  h2:first-child {
    margin-top: 0;
  }

  h2, h3 {
    font-family: 'Finger Paint', cursive;
  }

  a {
    color: #DA7C7C;
  }
}

#spinner {
  display: none;
  color: #fff;
  @include opacity(.8);
  position: fixed;
  top: 50%;
  left:49%;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  @include opacity(.5);
}
